*{
    padding: 0;
    margin: 0  ;
    box-sizing: border-box;
}

.header
{
    height: 48px;
    background-color: #000;
    position: fixed;
    z-index: 111;
    width: 100%;
} 

#nav {
    
}

#nav li {
    position: relative;
    display: inline-block;
}

#nav > li > a {
    display: inline-block;
    padding: 0px 24px;
    text-decoration: none;
    color: #fff;
    line-height: 48px;
}
#nav > li:hover > a {
    background: #696969; 
    color: #000;
}


#nav .subnav {
    position: absolute;
    display: none;
    z-index: 11;
}
#nav li:hover .subnav {
    display: block;
    
}

#nav .subnav li {
    display: inline-block;
    line-height: 48px;
    width: 100%;
}



#nav .subnav li a {
    padding: 0px 24px;
    text-decoration: none;
    display: block;
    background-color: #fff;
    color: #000;
}
#nav .subnav a:hover {
    background: #696969; 
    color: #000;
    
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 24px;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.search-btn:hover {
    
    background-color: #f44336;
    cursor: pointer;
}


.slider {
    width: 100%;
    padding-top: 50%;
    background: url(../img/ny.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slider .slider-heading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    padding: 32px 16px;
}
.slider .slider-heading h1 {
    margin: 10px 0 ;
    color: #fff;
    text-shadow: 0.5px 0.5px #fff;

}
.slider .slider-heading p {
    margin: 15px 0 ;
    color: #fff;
    text-shadow: 0.5px 0.5px #fff;
}

